/* بسم الله الرحمن الرحيم */
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-color: rgb(255, 198, 247);
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    flex-direction: column;
    gap: 30px;
}

.container {
    background-color: gray;
    border-radius: 20px;
    padding: 40px;
    width: auto;
    height: auto;
}

#email,
#password {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    margin: 20px;
}

input {
    outline: none;
    border: none;
}

#submitBtn {
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
    outline: none;
    transition: 200ms;
    font-size: 25px;
}

#submitBtn:hover {
    color: aqua;
    background-color: rgb(22, 22, 22);
}